{
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "importOrder": [
        "^react",
        "^@termeh",
        "^[./]"
    ],
    "importOrderSortSpecifiers": true
}
