{
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrder": [
        "^react",
        "^[./]"
    ],
    "plugins": [
        "prettier-plugin-jsdoc"
    ]
}
